{
  "singleQuote": true,
  "overrides": [
    {
      "files": "frontend/**/*.jsx",
      "options": {
        "jsxSingleQuote": true
      }
    },
    {
      "files": "frontend/reader/**/*.jsx",
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
